<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>后台管理</title>
<link rel="stylesheet" type="text/css" href="{:__ESUI__}/themes/color.css">
<link rel="stylesheet" type="text/css" href="{:__ESUI__}/themes/mobile.css">
<link rel="stylesheet" type="text/css" href="{:__ESUI__}/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="{:__ESUI__}/themes/icon.css">
<link rel="stylesheet" type="text/css" href="{:__ESUI__}/demo/demo.css">

<script type="text/javascript" src="{:__ESUI__}/jquery.min.js"></script>
<script type="text/javascript" src="{:__ESUI__}/easyloader.js"></script>
<script type="text/javascript" src="{:__ESUI__}/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="{:__ESUI__}/jquery.easyui.min.js"></script>
<script type="text/javascript" src="{:__ESUI__}/jquery.edatagrid.js"></script>